*{

}

.header-nav {
  margin-bottom: 30px;
}

.nav-icon {
  max-height: 70px;
}

.search-container {

}

.card-container {

}

.container {
  background-color: yellow;
  padding: 20px;
  
}

.hotel-container{

}

.rest-container {

}

.hotel-card {
  background-color: white;
  margin-bottom: 10px;
}

.rest-card {
  background-color: white;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
}

.card-footer {
  justify-content: flex-end;
}

