*{

}

.header-nav {
  margin-bottom: 30px;
}

.nav-icon {
  max-height: 70px;
}

.search-container {

}

.hotel-container{

}

.rest-container {

}

.hotel-card {
  background-color: white;
  margin-bottom: 10px;
}

.rest-card {
  background-color: white;
  margin-bottom: 10px;
}

.card-header {
  display: flex;
}

.card-footer {
  justify-content: flex-end;

}

#footer {
  background-color: #48c78e;
  color: #fff;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

h3 {
  font-size: 50px;
  font-weight: 100;
  text-align:center;
  padding: 20px;

}